

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="styles/Act2.css" rel="stylesheet" type="text/css" >
	<title>Asa Dixon, ITIS3135, Crappy website</title>
</head>

<body>
	<header>
			<h1 >Crappy Comparision</h1>
	</header>
	
	
	<main>
		<h2>Website Evaluations</h2>
		
		<h3>
		<a href="https://nwokillers.weebly.com/our-beliefs.html"> Crap Site</a>
		
		
		<p>The website is a conspiracy theroy site that looks to expose the illuminati and spread the truth.
		There really isnt much uniformity that went into this page as the color is just random and isnt a real color scheme.
	The size of the text isnt consistent and isnt clear on what the heading of a section is or if its just large text.
in terms of repetition there is none. The text is randomly placed throughout the site aswell along with the images around it. The images chosen are of various size and can appear at any 
side of the page center, left, or right. While I had no problem figuring out what to read next I can see how users would be put off by reading from both right and left and left and right.
For the most part I had no problems seeing the text but at times the background and the text color would blend in a bit because both would change so at time it was similar. The background is primarily 
dark which helps with the contrast with bright. I believe the site needs a simpler scheme rather than the rainbow it is currently using. I think its even more important to find a standardized font 
to make the reading more clear. The images can stay but it needs to widen out the page sothat its easier to align text and image.
</p>
	
<a href="https://stockx.com/?&utm_source=google&utm_medium=cpc&utm_campaign=US-BrandedStockX&utm_campaignid=885270610&content=257498558783&keyword=stockx&gclid=Cj0KCQjw1ouKBhC5ARIsAHXNMI_gEqg5Ar00yrQoV-mbAqD9E-3-JxignGdkQTCX-l1Mrmw8RPLoJvsaAm3nEALw_wcB&gclsrc=aw.ds"> Good Site</a>


		
				
		</h3>
           
                   
	
	</main>
	
	<footer>

       
		
	
		<p>Page built by DIG Innovations </p>
	
		<a href="https://validator.w3.org/check?uri=referer">
			<img src="images/button-valid-html5.gif" width="88" height="31" alt="Link to HTML validator"></a>

		<a href="https://jigsaw.w3.org/css-validator/check/referer">
			<img src="images/button-valid-css.gif" width="88" height="31" alt="Link to CSS validator"></a>
	
	</footer>

</body>

</html>